<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.globalgiving.org/v2/css/minimal.css">
</head>
<body>
  
    <div class="grid-12 grid-md-6 grid-lg-12 js-result-p18502">
        <div class="grid-12 box_topMargin2Half box_md_horizontalPadded1 box_lg_horizontalPadded0 flex_growChildren ">
           
           <div class="grid-parent border_default col_white flex_grow1 ">
              <a href="/projects/provide-gift-and-food-to-poor-children/" class="grid-12 grid-lg-4 grid-parent img-bg img-bg-cover img-minHeight_short img-emphasizeOnHover lazyload" > 
             <img src="header-bg.jpg" height="306" width="460" alt="">
            </a>
              <div class="grid-12 grid-lg-8 grid-parent box_horizontalPadded2 box_md_horizontalPadded4 box_lg_horizontalPadded2 box_verticalPadded2Half text_fontSizeSmall layout_alignLeft">
                 <span class="text_allCaps text_fontSizeSmaller col_ggSecondary1LightText layout_centerVertical">
                    <a href="javascript:void(0)" data-filterid="edu" class="col_inherit js-addFilter">Education</a>
                    |
                    <a href="javascript:void(0)" data-filterid="00india" class="col_inherit js-addFilter">India</a>
                    
                       
                    
                    &nbsp;
                 </span>
                 
                    <span class="col_ggSecondary1LightText box_bottomPadded0 layout_centerVertical">
                       
                    </span>
                 
                 <h4 class="grid-12 text_fontSizeLarger box_verticalMarginQuarter">
                    <a class="col_inherit text_letterSpacingNormal js-projTitle" href="/projects/provide-gift-and-food-to-poor-children/">
                       Provide Gift &amp; food to 700 Street Children
                    </a>
                 </h4>
                 <div class="grid-12 box_verticalPaddedHalf">
                    by <a class="col_inherit" rel="nofollow" href="/donate/18045">Rajasthan Samgrah Kalyan Sansthan</a>
                 </div>
                 
                    <div class="grid-12 col_ggSecondary1Text box_verticalMargin2">
                       Under this project, 700 street & poor slum children will be given Nutrition food, Gift, New Dress, Lunch/Dinner, Toys & Happiness. The Progr&#8230; <a href="/projects/provide-gift-and-food-to-poor-children/">read&nbsp;more</a>
                    </div>
                    <div class="grid-12 grid-parent layout_centerVertical">
                       <div class="grid-12 grid-lg-7 box_rightPadded5 box_topPaddedHalf box_bottomPadded2">
                          <span class="col_ggPrimary3DarkText text_fontSizeLarge text_7n">
                             $143,116
                          </span>
                           raised of $195,000 goal
                          <div class="thermometer box_topMargin1">
                             <div class="thermometer-percentRaised" style="min-width: 0%; max-width: 100%; width:73.39268784343035%;">&nbsp;</div>
                          </div>
                             
                       </div>
     
                       <form action="/dy/cart/view/gg.html" method="post" class="grid-12 grid-lg-5 grid-parent layout_center box_topPaddedHalf" >
                         
     
                          <div class="grid-4 grid-parent layout_centerVertical input_prefix text_fontSizeMedium">
                             <span class="grid-3 layout_center">$</span>
                             <input name="amount" type="number" class="grid-9" oninput="gg.forms.autoValidate(this);"/>
                          </div>
                          <button type="submit" class="btn btn_simple">Donate</button>
                       </form>
                    </div>
                 
              </div>
           </div>
        </div>
     </div>
     
             
             
             
                 <div class="grid-12 grid-md-6 grid-lg-12 js-result-p14516">
        <div class="grid-12 box_topMargin2Half box_md_horizontalPadded1 box_lg_horizontalPadded0 flex_growChildren ">
           
           <div class="grid-parent border_default col_white flex_grow1 ">
              <a href="/projects/ishavidhya/" class="grid-12 grid-lg-4 grid-parent img-bg img-bg-cover img-minHeight_short img-emphasizeOnHover lazyload">
                <img src="header-bg.jpg" height="306" width="460" alt=""></a>
              <div class="grid-12 grid-lg-8 grid-parent box_horizontalPadded2 box_md_horizontalPadded4 box_lg_horizontalPadded2 box_verticalPadded2Half text_fontSizeSmall layout_alignLeft">
                 <span class="text_allCaps text_fontSizeSmaller col_ggSecondary1LightText layout_centerVertical">
                    <a href="javascript:void(0)" data-filterid="edu" class="col_inherit js-addFilter">Education</a>
                    |
                    <a href="javascript:void(0)" data-filterid="00india" class="col_inherit js-addFilter">India</a>
                    
                       
                    
                    &nbsp;
                 </span>
                 
                    <span class="col_ggSecondary1LightText box_bottomPadded0 layout_centerVertical">
                       
                    </span>
                 
                 <h4 class="grid-12 text_fontSizeLarger box_verticalMarginQuarter">
                    <a class="col_inherit text_letterSpacingNormal js-projTitle" href="/projects/ishavidhya/">
                       Gift an education...Make a life !
                    </a>
                 </h4>
                 <div class="grid-12 box_verticalPaddedHalf">
                    by <a class="col_inherit" rel="nofollow" href="#">Isha Education</a>
                 </div>
                 
                    <div class="grid-12 col_ggSecondary1Text box_verticalMargin2">
                       Isha Vidhya's English-medium schools provide high quality school education to rural children in India who cannot otherwise access or afford &#8230; <a href="/projects/ishavidhya/">read&nbsp;more</a>
                    </div>
                    <div class="grid-12 grid-parent layout_centerVertical">
                       <div class="grid-12 grid-lg-7 box_rightPadded5 box_topPaddedHalf box_bottomPadded2">
                          <span class="col_ggPrimary3DarkText text_fontSizeLarge text_7n">
                             $551,267
                          </span>
                           raised of $575,000 goal
                          <div class="thermometer box_topMargin1">
                             <div class="thermometer-percentRaised" style="min-width: 0%; max-width: 100%; width:95.87257752916958%;">&nbsp;</div>
                          </div>
                             
                       </div>
     
                       <form action="" method="post" class="grid-12 grid-lg-5 grid-parent layout_center box_topPaddedHalf" >
                         
                          <div class="grid-4 grid-parent layout_centerVertical input_prefix text_fontSizeMedium">
                             <span class="grid-3 layout_center">$</span>
                             <input name="amount" type="number" class="grid-9" oninput="gg.forms.autoValidate(this);"/>
                          </div>
                          <button type="submit" class="btn btn_simple">Donate</button>
                       </form>
                    </div>
                 
              </div>
           </div>
        </div>
     </div>
     
 
</body>
</html>